src/main/mule/ca-music-factory-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <flow name="ca-music-factory-api-main">
        <http:listener path="/api/*" config-ref="http-listener-config">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <ee:transform doc:name="headerAttributes &amp; currentFlow" doc:id="4c9d3b7a-b439-4a11-ae2f-382735f46ca5" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="headerAttributes" ><![CDATA[%dw 2.0
output application/json
---
{
	correlationId: message.attributes.headers.correlation_id default uuid(),
	clientId: message.attributes.headers.client_id default "",
	clientSecret: message.attributes.headers.client_secret default ""
}
]]></ee:set-variable>
				<ee:set-variable variableName="currentFlow" ><![CDATA[%dw 2.0
output application/json
var currentFlow = "ca-music-factory-api-main::apiKitRouter"
---
currentFlow
]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<apikit:router config-ref="ca-music-factory-api-config"/>
		<logger level="INFO" doc:name="Logger" doc:id="4b570fb0-e715-4fcc-a713-74c073ee954d" category="${logcat}" message="#['ca-music-factory-api-main::payload: ' ++ write(payload,'application/json')]"/>
    </flow>
    <flow name="ca-music-factory-api-console">
        <http:listener path="/console/*" config-ref="http-listener-config">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="ca-music-factory-api-config"/>
    </flow>
    
</mule>
